/* Color stylesheet
Salmon: #F3B58F
light brown: #8C503E
dark brown: #572916
light blue: #9CC5DB
dark blue: #03718F

*/

body {
  background-color: #F3B58F;
  min-width: 700px;
}

#navigation {
  position: fixed;
  margin: 0px;
  background-color: #572916;
  width: 100%;
}

.links {
  display:inline;
  color: #9CC5DB;
  margin: 10px;
  font-size: 30px;
}

#header-background {
  display: inline-block;
  background-color: white;
  width: 100%;
  margin-top: 40px;
}

.header img{
  display:inline;
  float: left;
  width: 35%;
  margin-left: 40px;
  margin-bottom: 20px;
}

.title-text {
  text-align: center;
  color: #572916;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#footer{
  background-color: #572916;
}

.footer-text{
  display: inline;
  color: #8C503E;
  text-align: center;
}
.footer-text-contact {
  display:block;
  color: #8C503E;

}
#footer-location {
  display: inline-block;
  background-color: #03718F;
  color: #9CC5DB;
  width: 100%;
  margin:0px;
  padding: 0px;
}

.footer-location-ul {
  display:inline-block;
  margin: 1%;
}

.footer-location-item {
  background-color: #03718F;
  color: #9CC5DB;
  width: 100%;
  font-size: 1.0em;
  list-style: none;
}

.footer-location-store {
  display: inline;
  list-style: none;
}

.footer-list {
  margin-top: 2px;
  padding: 1%;
}

#footer-text-copyright, #footer-text-copy{
  background-color: #03718F;
  text-align: right;
  color: #572916;
  padding: 2px;
}

.footer-text-contact {
  display: inline-block;
}

#location-table{
  border: 5px solid black;
  background-color: #9CC5DB;
  border-collapse: collapse;
  empty-cells: hide;
}

#location-table td{
  border:2px solid black;
  text-align: right;
}

#location-table th{
  border:2px solid black;
  padding: 5px;
  font-size: 20px;
}

.location {
  font-weight: bolder;
  background-color: #03718F;
  color: white;
  font-size: 25px;
  text-align: left;
}

#employee-table {
  border: 5px solid black;
  background-color: #9CC5DB;
  margin: 5%;
}


#employee-table-body td{
  border:2px solid black;
  text-align: right;
}

#employee-table th{
  border:2px solid black;
  padding: 5px;
  font-size: 20px;
}

.middle {
  display: inline-block;
  background-color: #572916;
}
.middle h2{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#about-us, #merch, #events {
  display: inline;
  float:left;
  background-color: white;
  border-radius: 5px;
  width: 29.5%;
  margin:1%;
  padding: 5px;
  min-height: 250px;
}

#current-event {
  font-size: 1.2em;
  color: #9CC5DB;
  background-color:#572916;
  margin-top: 0px;
}
